<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net45" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.6.0-alpha0184" targetFramework="net45" />
  <package id="NLog" version="4.5.0-rc04" targetFramework="net45" />
</packages>